<div class="container">
    <h1><%= title %></h1>
    <div class="d-flex align-items-start mb-2">
        <div class="col">    <img src="./content/images/personalphoto.jpg" class="img-fluid img-thumbnail" alt="Tarik personal photo"></div>
        <div class="col">    <img src="./content/images/info.jpg" class="img-fluid img-thumbnail" alt="business card">
        </div>
    </div>



</div>