<div class="container">
    <h1><%= title %></h1>

    <div class="d-flex align-items-start mb-2">
        <div class="col">    
            <h3>Address:</h3>
            <h4><span>123 somewhere st.</span></h4>
            <h4><span>Toronto, ON</span></h4>
            <h4><span>X1X Y2Y - Canada</span></h4>
        </div>
        <div class="col">    
            <h4> &#128222; 1-800-222-3333</h4>
            <h4><span>&#128232;: info@domain.ca</span></h4>
            <h4><span> &#128187;: www.domain.ca</span></h4>
        </div>
    </div>
    <div class="col"><img src="./content/images/map.jpg" class="img-fluid" alt="google map of location"> </div>


</div>